__pycache__

/obj
/bin
/.vscode
/kcov-out
/build
/docs
/gh-pages
/test

/*.trace
/Makefile
/*.make

/modules/modules.h
/modules/dummy.c
/modules/*-module.*

tools/vxtdrv/vxtdrv.com
tools/shutdown/shutdown.com
__scrambler.tmp
bios/et4000.bin
boot/msdos*.img