__pycache__

/obj
/bin
/.vscode
/*.geany
/kcov-out
/build
/docs
/gh-pages
/test

/.cache
/compile_commands
/compile_commands.json

/Makefile
/*.make

/*.vcxproj*
/*.sln
/.vs

/modules/modules.h
/modules/dummy.c
/modules/*.vxt
/modules/*.lib
/modules/*.pdb
/modules/*.exp

/tools/tests/8088v1/*.json.gz
/tools/tests/8088v1/*.bin
/tools/tests/8088v1/8088.json
/lib/vxt/8088_tests.c

/*.trace*
/tools/vxtdrv/vxtdrv.com
/tools/shutdown/shutdown.com
/boot/msdos*.img
/boot/windows*.img
