__pycache__

/obj
/bin
/.vscode
/kcov-out
/build
/docs
/gh-pages
/test

/Makefile
/*.make

/*.vcxproj*
/*.sln
/.vs

/modules/modules.h
/modules/dummy.c
/modules/*.vxt
/modules/*.lib
/modules/*.pdb
/modules/*.exp

/*.trace*
/tools/vxtdrv/vxtdrv.com
/tools/shutdown/shutdown.com
/__scrambler.tmp
/boot/msdos*.img
/boot/windows*.img