@import "reset-fonts-grids.css";

html {
	background:			white;
}
body {
	color:				#333;
	line-height:			1.4;
	font-size:			62.5%;
	margin:				3em auto 0em 3em;
}

div.menu {
	text-align:			left;
	position:			absolute;
	top:				3em;
	left:				3em;
	width:				11em;
}
div.menu li {
	font-family:			Georgia;
	font-size:			1.3em;
}

div.copy {
	background:			#eee;
	text-align:			justify;
	width:				56em;
	margin:				0em auto 0em 11em;
}
div.copy p {
	font-family:			Georgia;
	font-size:			1.3em;
	margin:				1.3em 1em;
}
div.copy li {
	font-family:			Georgia;
	font-size:			1.3em;
	margin:				1em 3em;
}

table {
	margin:				2em auto 2em 0em;
	border-collapse:		collapse;
}
caption {
	text-align:			center;
	margin:				1em 0em 0em 11em;
}
caption span {
	font-family:			Georgia;
	font-size:			1.3em;
	font-weight:			bold;
}
td {
	border-bottom:			.1em solid white;
}

td.bad_cell0 {
	background:			#d55;
	width:				7em;
	height:				7em;
}
td.bad_cell1 {
	background:			#e66;
	width:				7em;
	height:				7em;
}

td.checker0 {
	background:			#ddd;
}
td.checker1 {
	background:			#eee;
}
td.cell {
	vertical-align:			top;
	text-align:			center;
	width:				7em;
	height:				7em;
	padding:			0.5em 0em 0em;
}
td.cell p {
	font-family:			Courier, monospace;
	font-size:			1.5em;
}

td.row_header {
	vertical-align:			top;
	text-align:			right;
	width:				11em;
	padding:			0.5em 0px 0px;
}
td.row_header p {
	font-family:			Courier, monospace;
	font-size:			1.8em;
	padding-right:			1em;
}

td.col_header {
	text-align:			center;
	font-family:			Courier, monospace;
	font-size:			1.8em;
}

td.long_cell {
	background:			#eee;
	vertical-align:			top;
	text-align:			left;
	width:				56em;
	height:				7em;
	padding:			0.5em 0em 0em;
}
td.long_cell p {
	font-family:			Georgia;
	font-size:			1.3em;
	margin:				0em 1em;
}
